
body {
    font-family: monospace;
    padding: 20px;
    max-width: none;
    margin: auto;
    background: #fff;
    color: #000;
    text-align: center;
    overflow-x: auto;
}
h2 {text-align: left; margin-bottom: 0px; margin-top: 0px;}
h3 {text-align: left; margin-bottom: 4px;}

/*--------------------------------------コンテナ--------------------------------------*/
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  min-width: max-content;
  padding-right: 20px;
  padding-left: 10px;  
}

.left,
.center,
.right {
  background: #f5f5f5;
  padding: 16px;
  height: 750px;
  border-radius: 10px;
  border: 2px solid #333;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}
.left {
  width: 430px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  font-size: 14px;
  font-family: sans-serif;
  line-height: 1.6;
}

.center {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 60px;
  row-gap: 0;
  align-items: flex-start;
  flex: 0 0 500px;
}

.right {
  flex: 0 0 350px;
  align-self: flex-start;
}

/*--------------------------------------ひだり--------------------------------------*/
.doc {
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 6px;
  align-items: start;
  margin-bottom: 4px;
}
.doc-list {margin-bottom: 0px;}
.doc-text {margin-bottom: 4px; font-weight: bold;}
.doc-btn {
  font-size: 10px;
  width: 25px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #333;
  background: #fff;
  color: #000;
  text-align: center;
}

#changelog {
  height: 200px;
  border: 2px solid #333;
  background: #FFF;
  padding: 5px;
  font-size: 12px;
  overflow-y: auto;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 5px;
  line-height: 1.3;
}
#changelog h4 {margin: 0px ; font-size: 14px; text-align: left;}
#changelog ul {list-style: none; padding-left: 10px; margin: 0;  text-align: left;}

/*--------------------------------------ボード--------------------------------------*/
.board-wrap {
  text-align: center;
  background: #f5f5f5;
  padding: 12px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 380px;
}

.board {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(4, 60px);
  gap: 2px;
  padding: 5px;
  margin: 0 auto;
  flex-shrink: 0;
}

.panel {
  display: flex;
  gap: 15px;
  justify-content: center;
}
/*--------------------------------------セル--------------------------------------*/
.cell {
  position: relative;
  border: 1px solid #333;
  font-size: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background: #fff;
  border-radius: 5px;
  font-weight: bold;
}

.symbol-display {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.char-display,
.multi-label,
.number-display {
  position: absolute;
  color: #000;
  font-family: meiryo, sans-serif;
  font-weight: bold;
  font-size: 10px;
  text-shadow: 
    -1px -1px 0 #fff,
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff;
}
.char-display {top: 2px; left: 2px;}
.multi-label {top: 0px; right: 2px; font-size: 14px;}
.number-display {bottom: 0; right: 2px;}

.img {width: 56px; object-fit: contain; pointer-events: none; border-radius: 5px;}

.highlight-red   {background: #fff0f0; color: #ff6666; box-shadow: 0 0 30px #ff6666;}
.highlight-blue  {background: #f0f8ff; color: #3399ff; box-shadow: 0 0 30px #66b3ff;}
.highlight-green {background: #f0fff4; color: #33cc88; box-shadow: 0 0 30px #66ffaa;}

/*--------------------------------------ごうけい--------------------------------------*/
.char-sum-div {overflow-y: auto; font-family: meiryo, sans-serif; font-weight: bold;}
.sum-header   {font-weight: bold; margin-top: 4px; margin-bottom: 2px; text-align:center;}
.sum-name     {text-align: left; margin-left: 20px;}
.sum-grid     {display: grid; grid-template-columns: auto 60px 60px; font-size: 12px;}

/*--------------------------------------てんぷれ--------------------------------------*/
.template-header {display: flex; align-items: center; justify-content: space-between;}
.template-header h3 {margin: 0px;}
.pager button {
  height: 24px;
  padding: 0 5px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #333;
  border-radius: 4px;
}

.template-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
  margin-bottom: 10px;
}
.template-btn {
  width: 48px;
  height: 48px;
  border: 1px solid #333;
  display: flex;
  background: #fff;
  color: #000;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-size: 26px;
  margin: 9px;
  margin-bottom: -10px;
  border-radius: 5px;
}

/*--------------------------------------色選択--------------------------------------*/
.color-btn {
  width: 48px;
  height: 48px;
  border: 1px solid #333;
  font-size: 18px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}

.color-btn.active {font-weight: bold;}
.color-btn.active[data-color="red"]   {color: #ff6666; box-shadow: 0 0 15px #ff6666;}
.color-btn.active[data-color="blue"]  {color: #3399ff; box-shadow: 0 0 15px #3399ff;}
.color-btn.active[data-color="green"] {color: #33cc88; box-shadow: 0 0 15px #33cc88;}

/*--------------------------------------回路選択--------------------------------------*/
.palette {
  display: flex;
  gap: 18px;
  margin-top: 10px;
  justify-content: center;
}

.palette-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  min-width: 50px;
}

.multi-title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
  text-align: center;
  height: 22px;
  line-height: 1.5;
}

.symbol {
  width: 48px;
  height: 48px;
  border: 1px solid #333;
  font-size: 26px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  border-radius: 5px;
}
.symbol.multi {
  width: 46px;
  height: 46px;
  font-size: 26px;
  border: 2px dashed #333;
}
.action {
  display: grid;
  grid-template-columns: repeat(5, 48px);
  gap: 26px;
  margin-top: 10px;
  justify-content: start;
}

.selected {font-weight: bold;}
.selected.red-active   {background: #fff0f0; color: #ff6666; box-shadow: 0 0 15px #ff6666;}
.selected.blue-active  {background: #f0f8ff; color: #3399ff; box-shadow: 0 0 15px #3399ff;}
.selected.green-active {background: #f0fff4; color: #33cc88; box-shadow: 0 0 15px #33cc88;}

/*--------------------------------------数値選択--------------------------------------*/
.num-palette {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 5px 30px;
  margin-top: -5px;
  justify-content: center;
  font-family: meiryo, sans-serif;
}

.num-palette label:nth-child(3) {grid-column: 1;}

/*--------------------------------------セーブスロット--------------------------------------*/
.save-header {display: flex; align-items: center; justify-content: space-between;}
.save-header h3 {margin: 0px;}

.slot-buttons div {
  display: flex;
  gap: 4px;
  width: 100%;
  justify-content: stretch;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 6px;
  box-sizing: border-box;
}

.slot-name,.slot-buttons button {height: 25px; box-sizing: border-box;}
.slot-name {flex: 1;}
